<div class="col-md-4">
  <div class="card mt-2 mb-2 rounded">
    <div class="card-body">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Password:</strong>
        <%= @user.password %>
      </p>

    </div>
  </div>
</div>

<%
=begin%>
 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>  
<%
=end%>
