<!DOCTYPE html>
<html>
  <head>
    <title>Rails Final Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <header>

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-warning text-white my-0 barcad text-center">
          <div class="container text-sm-center">
            <h1 class="display-1 lead text-center">Unite: Where Entreprenuers Find Business Partners</h1>
          </div>
        </div>

          <% if !flash[:alert].nil? %>
            <p class="my_alert"><%= flash[:alert] %></p>
          <% end %>
          
        <!-- navbar -->
          <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Meetups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>

      </header>

        <%= yield %>

      <footer class="footer bg-warning border-top border-dark pt-2 mb-0 fixed-bottom">
        <p>&copy; 2022 </p>
      </footer>
  </body>
</html>