<!DOCTYPE html>
<html>
  <head>
    <title>Rails Final Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="bootstrap-overrides">

    <header class="my-0">

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-warning text-white my-0 barcad text-center">
          <div class="container text-sm-center">
            <h1 class="display-1 lead text-center">Unite: Where Entreprenuers Find Business Partners</h1>
          </div>
        </div>

          <% if !flash[:alert].nil? %>
            <p class="my_alert"><%= flash[:alert] %></p>
          <% end %>

      </header>

      <div class="container mb-5">
        <%= yield %>
      </div>

      <footer class="footer bg-warning border-top border-dark pt-2 mb-0">
        <p>&copy; 2022 </p>
      </footer>
  </body>
</html>