<!DOCTYPE html>
<html>
  <head>
    <title>Rails Final Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">  
  </head>

  <body>
      <header>
          <% if current_page? %>
            <%= render partial: "shared/navbar" %>
          <% end %>
            
          <!-- jumbotron -->
            <div class="jumbotron jumbotron-fluid bg-warning text-white my-0 barcad text-center">
              <div class="container text-sm-center">
                <h1 class="display-1 lead text-center">Unite: Where Entreprenuers Find Business Partners</h1>
              </div>
            </div>
          <!--jumbotron -->
      </header>

        <%= yield %>
        <!-- footer -->
          <footer class="footer bg-warning border-top border-dark pt-2 mb-0">
            <p>&copy; 2022 Unite || CTD Final </p>
          </footer>
        <!-- footer -->
  </body>
</html>