<!DOCTYPE html>
<html>
  <head>
    <title>Rails Final Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- jumbotron -->
      <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container text-sm pt-5">
        </div>
      </div> <!-- /jumbotron -->

      <% if !flash[:alert].nil? %>
      <p class="my_alert"><%= flash[:alert] %></p>

      <nav class="navbar navbar-expand-sm   navbar-dark bg-info">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>